body {
  font-family: sans-serif;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  line-height: 1.5;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background: #f0f0f0;
  text-align: center;
  margin: auto;
}

.grid div {
  height: 40px;
  width: 40px;
  border: 1px solid #000000;
}

.square-clicked {
  background-color: #ffffff;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal label { 
  display: inline-block; 
  width: 210px; 
  text-align: left; 
}

.submit-button {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0.5rem;
  border: none;
  background-color: #f0f0f0;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
  margin-left: 35%;
}
